
.tweet-container {
  display:flex;
  flex-direction: column;
}

.tweet-post {
  display:flex;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 15px;
  width: 100%;
  justify-content: space-between;
}

.tweet-post > h1 {
  font-size: 30px;
}

.tweet-post > p {
  font-size: 24px;
  color: salmon;
}

.tweet-icons > i {
  display:flex;
  align-items: flex-end;
}

.tweet-right {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.tweet-icons {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

.tweet-handle {
  display:flex;
}

i:hover{
  color: red;
}

.tweet-info > h1 {
  display: inline;
}

.errorMsg {
  display: flex;
  color: red;
  margin: 10px;
  display: none;
}

article:hover {
  box-shadow: 5px 10px;
}